<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center background">
    <div class="card login-card">
        <div class="card-body text-center p-2">
            <div class="font-wc">Chào mừng bạn đến với VinClub !</div>
            <div class="font-wc-1 mb-2">Hy vọng bạn sẽ có trải nghiệm tuyệt vời.</div>
            <div class="text-muted-1 mb-2">Cổng thông tin nội bộ VINGROUP</div>

            @if (currentUrl === 'login') {
            <form [formGroup]="formLogin" (ngSubmit)="login()">
                <div class="mb-3 ">
                    <input type="text" class="form-control" formControlName="username" placeholder="Nhập tài khoản">
                </div>
                <div class="mb-4">
                    <input type="password" class="form-control" formControlName="password" placeholder="Nhập mật khẩu">
                </div>
                <button type="submit" class="btn btn-warning w-100 mb-3">Đăng nhập</button>

                <div class="text-start">
                    <span class="text-muted font-weight-bold">Chưa có tài khoản? </span>
                    <a routerLink="/register" class="text-warning tx-c text-decoration-none">Đăng ký ngay</a>
                    <span class="mx-2">|</span>
                    <a href="#" class="text-warning tx-c text-decoration-none">Dịch vụ CSKH</a>
                </div>
            </form>
            }

            @if (currentUrl === 'register') {
            <form [formGroup]="formRegister" (ngSubmit)="register()">
                <div class="mb-3">
                    <input type="text" class="form-control" formControlName="username" placeholder="Tên tài khoản*">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" formControlName="password" placeholder="Mật khẩu*">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Nhập lại mật khẩu*">
                    <div class="error-message" *ngIf="formRegister.get('confirmPassword')?.errors?.['passwordMismatch'] && formRegister.get('confirmPassword')?.touched">
                        Mật khẩu không khớp
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" formControlName="fullName" placeholder="Họ & tên*">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" formControlName="referenceCode" placeholder="Mã tham chiếu*">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" formControlName="phone" placeholder="Số điện thoại*">
                </div>
                <div class="mb-4">
                    <input type="text" class="form-control" formControlName="email" placeholder="Email">
                    <div class="error-message" *ngIf="formRegister.get('email')?.errors?.['email'] && formRegister.get('email')?.touched">
                        Email không đúng định dạng
                    </div>
                </div>
                
                <button type="submit" class="btn btn-warning w-100 mb-3">Đăng ký</button>

                <div class="text-start">
                    <span class="text-muted font-weight-bold">Đã có tài khoản? </span>
                    <a routerLink="/login" class="text-warning tx-c text-decoration-none">Đăng nhập ngay</a>
                    <span class="mx-2">|</span>
                    <a href="#" class="text-warning tx-c text-decoration-none">Dịch vụ CSKH</a>
                </div>
            </form>
            }
        </div>
    </div>
</div>