<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center background">
    <div class="card login-card">
        <div class="card-body text-center p-2">
            <div class="font-wc">Chào mừng bạn đến với VinClub !</div>
            <div class="font-wc-1 mb-2">Hy vọng bạn sẽ có trải nghiệm tuyệt vời.</div>
            <div class="text-muted-1 mb-2">Cổng thông tin nội bộ VINGROUP</div>

            <form>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Nhập tài khoản">
                </div>
                <div class="mb-4">
                    <input type="password" class="form-control" placeholder="Nhập mật khẩu">
                </div>
                <button type="submit" class="btn btn-warning w-100 mb-3">Đăng nhập</button>

                <div class="text-start">
                    <span class="text-muted font-weight-bold">Chưa có tài khoản? </span>
                    <a href="#" class="text-warning tx-c text-decoration-none">Đăng ký ngay</a>
                    <span class="mx-2">|</span>
                    <a href="#" class="text-warning tx-c text-decoration-none">Dịch vụ CSKH</a>
                </div>
            </form>
        </div>
    </div>
</div>