<div class="user-management">
    <!-- Search Section -->
    <div class="search-section">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (ngModelChange)="searchReferenceCode()"
        placeholder="Tìm kiếm theo số điện thoại..."
      >
      <button (click)="createReferenceCode()">Tạo mã tham chiếu</button>
    </div>

    <!-- Users Table -->
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Người tạo</th>
            <th>SĐT</th>
            <th>Mã tham chiếu</th>
            <th>Ngày tạo</th>
<!--            <th>Thao tác</th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let referenceCode of referenceCodes">
            <td>{{referenceCode?.username}}</td>
            <td>{{referenceCode?.phone}}</td>
            <td>{{referenceCode?.reference_code}}</td>
            <td>{{referenceCode?.created_date | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>

<!--              <button (click)="deleteRef(user.userId)" class="delete-btn">-->
<!--                Xóa-->
<!--              </button>-->
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Pagination -->
      <div class="pagination">
        <button
          [disabled]="currentPage === 1"
          (click)="changePage(currentPage - 1)"
          class="page-btn">
          <i class="fas fa-chevron-left"></i>
        </button>

        <span>Page {{currentPage}} of {{totalPages}}</span>

        <button
          [disabled]="currentPage === totalPages"
          (click)="changePage(currentPage + 1)"
          class="page-btn">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
