<div class="bottom-nav-wrapper">
    <div class="bottom-nav">
        <div class="nav-container">
            <a href="/vinclub/recharge" class="nav-item">
                <img src="assets/icons/nap-tien.png" alt="icon">
                <div class="nav-text">Nạp tiền</div>
            </a>
            <a href="/vinclub" class="nav-item active">
                <img src="assets/icons/trang-chu.png" alt="icon">
                <div class="nav-text">Trang chủ</div>
            </a>
            <a href="/vinclub/withdrawal" class="nav-item">
                <img src="assets/icons/rut-tien.png" alt="icon">
                <div class="nav-text">Rút tiền</div>
            </a>
        </div>
    </div>
</div>